/* Start FAQ Section Style */

.faq-section-bg {
  background-image: url("../img/faq-bg.jpg");
  min-height: 500px;
  background-position: center;
  background-size: cover;
}

.faq-right-side {
  background-color: #fff;
  height: 310px;
  margin-top: 50px;
  box-shadow: 1px 5px 15px 2px rgba(68, 102, 242, 0.05) !important;
}

.faq-right-side li {
  padding: 20px;
}

.faq-right-side li h6 {
  font-size: 16px;
  color: #2980b9;
}

.faq-right-side li h6 i {
  font-size: 28px;
}

.faq-right-side h6 span {
  vertical-align: 4px;
  margin-right: 8px;
}

.faq-right-side li p {
  font-size: 14px;
  margin: 6px 40px;
  color: #7f8c8d;
}

.faq-left-side {
  margin: 50px 0;
}

.faq-left-side .tabs {
  border-radius: 8px;
  box-shadow: 1px 5px 15px 2px rgba(68, 102, 242, 0.05) !important;
  color: #fff;
  overflow: hidden;
}

.faq-left-side .tab {
  overflow: hidden;
}

.faq-left-side .tab-label {
  background-color: #3498db;
  padding: 10px;
  width: 100%;
  display: block;
  transition: 0.5s;
  font-size: 15px;
  cursor: pointer;
}

.faq-left-side .tab-label:hover {
  background-color: #2980b9;
}

.faq-left-side .tab-label::after {
  content: "\276f";
  text-align: center;
  float: left;
  transition: 0.5s;
  padding: 2px 0 0 0;
}

.faq-left-side .tab-content {
  height: 0;
  background-color: #ecf0f1;
  transition: 0.5s ease;
  color: #2c3e50;
  font-size: 12px;
}

.faq-left-side input {
  display: none;
}

.faq-left-side input:checked ~ .tab-content {
  height: 70px;
  padding: 10px;
  overflow-y: scroll;
}

.faq-left-side input:checked + .tab-label::after {
  transform: rotate(-90deg);
}
