/* Start Menu Section Style */
.nav {
  background-color: #ecf0f1;
  overflow: hidden;
  box-shadow: 1px 1px 1px 1px #efefef;
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav a {
  display: inline-block;
  padding: 14px 18px;
}

.nav a:first-child{
  font-size: 20px;
}

.nav a:hover {
  color: #f39c12;
  border-bottom: 1px solid #f39c12;
}

.nav a.bars {
  display: none;
}

@media only screen and (max-width: 576px) {
  .nav a:not(:first-child) {
    display: none;
  }

  .nav a.bars {
    display: block;
    float: left;
  }

  .nav {
    position: relative;
  }

  .nav.responsive a {
    display: block;
  }

  .nav.responsive a.bars {
    position: absolute;
    top: 0;
    left: 0;
  }
}

/* End Menu Section Style */
