/* Start Stat Section Style */

.stat-wrapper{
    margin-top: 30px;
    background-color: #f39c12;
    min-height: 250px;
    padding: 30px 0 30px 0;
}

.stat-wrapper-title{
    margin-top: 60px;
}

.stat-wrapper img{
    width: 80px;
    height: 80px;
    margin-top: 5px;
}

.stat-wrapper .count{
    font-size: 22px;
    margin-top: 18px;
    color: #fff;
}

.stat-wrapper .count-title{
    font-size: 18px;
    margin-top: 20px;
}




