@import url("/assets/css/grid-system.css");
@import url("/assets/css/_contact.css");
@import url("/assets/css/_menu.css");
@import url("/assets/css/_header.css");
@import url("/assets/css/_courses.css");
@import url("/assets/css/_aboutus.css");
@import url("/assets/css/_teachers.css");
@import url("/assets/css/_stat.css");

@font-face {
  font-family: Vazir-Medium;
  src: url("/assets/fonts/Vazir-Medium.ttf") format("truetype"),
    url("/assets/fonts/Vazir-Medium.eot") format("eot"),
    url("/assets/fonts/Vazir-Medium.woff") format("woff"),
    url("/assets/fonts/Vazir-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Vazir-Thin;
  src: url("/assets/fonts/Vazirmatn-Thin.woff2") format("woff2");
}



